
.demo-card-wide > .mdl-card__title {
color: #000;
}
.demo-card-wide > .mdl-card__menu {
color: #000;
}

.page-base{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    flex: 1;
    max-width: 800px;
    width: 800px;
    display: flex;
    margin-top: 5px;
}

.images{
    max-width: 800px;
    max-height: 800px;
    align-self: center;
}